.artistPage{
  /* height: 100vh;  */
  margin: 130px 130px;
  /* display:flex; */
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header {
margin: 50px;
}

.artists{ /* artists is an array that holds each of the artist objects and its information. this is styling all of the columns as a whole */
  display: flex;
  gap: 50px;
}

.artist{ /* artist is each artist on its own (styling each of the artist columns */
  flex: 1; /*makes everything the same size*/
  /* padding: 50px;  when padding, always include px so that it works. padding properties are used to generate space around an element's content, inside of any defined borders*/
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  margin: 10px;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  width:250 px;
  padding: 10px;
  border: 1px solid gray;
}

.formButton {
  border: none;
  padding: 10px;
  background-color: lightcoral;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* CSS for the DELETE button*/
.delete {
background-color: #fff;
border: 1px solid #d5d9d9;
border-radius: 8px;
box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
box-sizing: border-box;
color: red;
cursor: pointer;
display: inline-block;
font-family: "Amazon Ember",sans-serif;
font-size: 13px;
line-height: 29px;
padding: 0 10px 0 11px;
position: relative;
text-align: center;
text-decoration: none;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
vertical-align: middle;
width: 80px;
}

.delete:hover {
background-color: #f7fafa;
}

.delete:focus {
border-color: #008296;
box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
outline: 0;
}

/* CSS for the UPDATE button*/
.update {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: hsl(234, 69%, 73%);
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 80px;
}

.update:hover {
  background-color: #f7fafa;
}

.update:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

/* CSS for the ADD button*/
.addA {
  margin-top: 75px;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color:palegreen;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 200px;
}

.addA:hover {
  background-color: #f7fafa;
}

.addA:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}